streamlit 
pandas 
requests 
beautifulsoup4 
scikit-learn 
langchain 
pymilvus 
sentence-transformers 
python-dotenv==1.0.0 
openai==0.27.8 
langchain==0.0.198 
pinecone-client==2.2.2 
sanic==23.3.0 
fastapi==0.97.0 
uvicorn==0.20.0
